<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">

<script  src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="scroll.js"></script>


  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<style>
  .bg{background-color:#34b7d1}
  #myNavbar ul li a:hover{color:#2fceed}
  .mg{background-color:#3a63a6}
  body{background-color:#706f6b}
  </style>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">REPL</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'home1' %}"><i class="fa fa-fw fa-home"></i> Home</a></li>
          <li><a href="#about"><i class="fa fa-users"></i> About Us</a></li>
          <li><a href="{% url 'home1' %}"><i class="fa fa-fw fa-envelope"></i> Contact Info</a></li>
          <li><a href="#career"><i class="fa fa-graduation-cap"></i> Career</a></li>
        </ul>
      </div>
    </div>
  </nav>
<div class="container "style="border:1px solid grey;background-color:white">
  <h1>About us</h1>
  <br>
  <p>Kabir Rajdheer Singh is a house surgeon at Delhi Institute of Medical Sciences in Delhi, India. Despite being a brilliant student, he has severe anger management problems that earn the wrath of the dean of the college. Kabir's aggressive nature also earns him a reputation among his juniors as a college bully. After having a brawl alongside his friend Kamal against members of the opposing team during an inter-college football match, the dean asks Kabir to either apologise or leave the college. Kabir initially chooses the latter but stays back after meeting first-year student Preeti Sikka.
Kabir and his friend Shiva enter a third-year classroom and announce that Kabir is in love with Preeti and asserts that she is exclusive to him. Initially afraid, Preeti starts adjusting herself to Kabir's overbearing attitude. She eventually reciprocates his feelings and they develop an intimate relationship. Kabir graduates with an MBBS degree and leaves for Mussoorie to pursue a Master's degree in orthopedic surgery. Over the course of three years, Kabir's and Preeti's relationship becomes stronger. Months later, Kabir visits Preeti's house, where her father sees them kissing and throws Kabir out.
Preeti's father opposes her and Kabir's relationship since he dislikes Kabir's personality. Kabir demands that Preeti must make a decision within six hours otherwise he will end their relationship. By the time she manages to visit Kabir's house, he is drunk, injects morphine into himself, and becomes unconscious for two days. Preeti is then forcibly married to someone from her caste. Kabir learns about the marriage from Shiva and goes to her house in protest. He is assaulted and gets arrested for making a scene. Kabir's father ostracises him from the family home for damaging his reputation.
With Shiva's help, Kabir finds a rented apartment and joins a private hospital as a surgeon. To cope with his emotions, he starts taking drugs, attempts one-night stands, buys a pet dog and names it after Preeti and drinks alcohol; all of which are unsuccessful. Within months, he becomes a successful surgeon and a high-functioning alcoholic who is feared by the hospital's staff members, one of the reasons being his high surgery count. Kabir's self-destructing behaviour and refusal to move on worries Shiva and Kamal. He persuades one of his patients, Jia Sharma, a leading film star, to have a no-strings relationship with him, which he ends when she falls in love with him. </p>

<p>On a day off, Kabir unwillingly agrees to perform a life-saving surgery and collapses with dehydration. The hospital staff examine his blood samples, which show traces of alcohol and cocaine. The hospital chief files a case against Kabir, who accepts the truth on the grounds of violating his professional ethics during an in-house court hearing, despite Shiva making arrangements to bail him out. Kabir's medical license is cancelled for five years and he is evicted from the flat. The next morning, Shiva manages to reach Kabir to convey his grandmother's death; he meets his father, and they reconcile. Kabir gives up his self-destructive habits soon after. </p>

<p>While leaving for a vacation, Kabir sees a pregnant Preeti sitting in a park. Convinced that she is unhappy with her marriage, Kabir meets her after returning from his vacation. Preeti reveals that she left her husband days after their marriage and continued to work in a clinic. She tells Kabir that he is the child's father, and they reunite. The pair marries, and Preeti's father apologises for misunderstanding their love for each other. </p>

</div>
</body>
</html>
